{% extends "admin/base.html" %}

{% block title %}{{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
  </div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% else %}
  <div style="margin-left: 40px; display: flex; align-items: center;">
    <a href="{% url 'feature_flags' %}" style="margin-right: 15px;">Feature флаги</a>
  </div>
{% endif %}
{% endblock %}