<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <p>{{ profile_user.username }}</p>
    <p>{{ profile_user.first_name }}</p>
    <p>{{ profile_user.information }}</p>
    {% if user.id == profile_user.id %}
        {% if profile_user.information and profile_user.first_name %}
            <p>Изменить профиль <a href="/profiles/edit/">Изменить</a></p>
        {% else %}
            <p>Профиль пока не заполнен <a href="/profiles/edit/">Заполнить</a></p>
        {% endif %}
    {% endif %}

</body>
</html>